<%= form_tag("/urls", method: :post) do %>
  <%= text_field_tag(:url) %>
  <%= submit_tag("Shorten it!") %>
<% end %>
<p>
  <label for="search-basic">Search:</label>
  <input type="search" name="search" id="search-basic" value="" />
</p>
<p><%= link_to "Sort by popularity", root_path %></p>
<table>
  <thead>
    <tr>
      <th>Shortened Link</th>
      <th>Link</th>
      <th><%= sortable "created_at", "Date added" %></th>
    </tr>
  </thead>
  <tbody id="urls">
    <% @urls.each do |url| %>
      <tr>
        <td>
          <%= link_to "#{url.short_url}", url_path(url), class:"link" %>
        </td>
        <td><%= link_to "#{url.url}", url.url %></td>
        <td><%= url.formatted_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
