<%= form_tag("/urls", method: :post) do %>
  <%= text_field_tag(:url) %>
  <%= submit_tag("Shorten it!") %>
<% end %>
<p>
  <label for="search-basic">Search:</label>
  <input type="search" name="search" id="search-basic" value="" />
</p>
<table>
  <thead>
    <tr><th>Link</th>
      <th>Date added</th>
    </tr>
  </thead>
  <tbody id="urls">
    <% @urls.each do |url| %>
      <tr>
        <td>
          <%= link_to "#{url.short_url}", url_path(url), class:"link" %>
        </td>
        <td><%= url.formatted_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
